src/main/nodered/flows.json
[{"id":"b6e4f42c.d53438","type":"tab","label":"Game Flow","disabled":false,"info":""},{"id":"3ba17c8f.8ee954","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4de78a10.7d00b4","type":"ui_group","z":"","name":"Launch","tab":"3ba17c8f.8ee954","order":2,"disp":true,"width":"6","collapse":false},{"id":"f7f022.2984cfe","type":"ui_group","z":"","name":"Actions","tab":"3ba17c8f.8ee954","order":1,"disp":true,"width":"16","collapse":false},{"id":"25dc869.4d4037a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9aaeabd4.1d2c98","type":"ui_spacer","name":"spacer","group":"f7f022.2984cfe","order":2,"width":"6","height":1},{"id":"eaaeed0.643561","type":"debug","z":"b6e4f42c.d53438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":506,"y":80,"wires":[]},{"id":"423fcc6e.467a14","type":"http in","z":"b6e4f42c.d53438","name":"REST Launch","url":"/launch/:launchId","method":"get","upload":false,"swaggerDoc":"","x":206,"y":220,"wires":[["eaaeed0.643561","69b9a4a1.76150c","f0e07eaa.116a2"]]},{"id":"abc3e606.8ef0f8","type":"ui_text","z":"b6e4f42c.d53438","group":"4de78a10.7d00b4","order":0,"width":"4","height":"1","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":636,"y":200,"wires":[]},{"id":"69b9a4a1.76150c","type":"http response","z":"b6e4f42c.d53438","name":"REST Launch OK","statusCode":"200","headers":{},"x":536,"y":360,"wires":[]},{"id":"f0e07eaa.116a2","type":"function","z":"b6e4f42c.d53438","name":"Extract launchId","func":"msg.payload = msg.req.params.launchId;\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":240,"wires":[["abc3e606.8ef0f8"]]},{"id":"ae97e3ab.348d9","type":"ui_button","z":"b6e4f42c.d53438","name":"Launch","group":"f7f022.2984cfe","order":1,"width":"2","height":"2","passthru":true,"label":"Launch","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"{\"particleType\":\"MUON\"}","payloadType":"json","topic":"LAUNCH","x":196,"y":100,"wires":[["eaaeed0.643561","abc3e606.8ef0f8","31291d1e.da7372"]]},{"id":"31291d1e.da7372","type":"looptimer","z":"b6e4f42c.d53438","duration":"1","units":"Second","maxloops":"5","maxtimeout":"10","maxtimeoutunits":"Second","name":"Launch Timeout","x":616,"y":120,"wires":[["568390ea.cf4ac"],[]]},{"id":"86c3d750.ee3328","type":"inject","z":"b6e4f42c.d53438","name":"","topic":"","payload":"{\"tick\":\"tock\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":20,"wires":[["ae97e3ab.348d9"]]},{"id":"12506fc9.5a58a","type":"counter","z":"b6e4f42c.d53438","name":"countdown","init":"5","step":"-1","lower":"0","upper":"","mode":"increment","outputs":2,"x":970,"y":120,"wires":[["1948e9c9.1c4306","52111936.db00e8"],[]]},{"id":"568390ea.cf4ac","type":"function","z":"b6e4f42c.d53438","name":"reset count","func":"if ( ! msg._timerpass)\n{\n    msg.reset = 5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["12506fc9.5a58a"]]},{"id":"52111936.db00e8","type":"debug","z":"b6e4f42c.d53438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":180,"wires":[]},{"id":"1948e9c9.1c4306","type":"ui_gauge","z":"b6e4f42c.d53438","name":"","group":"f7f022.2984cfe","order":2,"width":"3","height":"3","gtype":"gage","title":"gauge","label":"s","format":"{{msg.count}}","min":0,"max":"5","colors":["#b30000","#e6e600","#3acb43"],"seg1":"1","seg2":"3","x":1020,"y":340,"wires":[]},{"id":"bbeb3e2.f71a9c","type":"range","z":"b6e4f42c.d53438","minin":"0","maxin":"5","minout":"0","maxout":"10","action":"scale","round":true,"property":"count","name":"","x":890,"y":220,"wires":[[]]}]